# ignore CMSSW directories
CMSSW*/

# ignore submision files related directories
Skim/JobSub/
Skim/skim

# ignore big files
*.root

# igore images
*.png
*.pdf

# ignore vscode related files
.vscode/
Run3.code-workspace

# ignore python coche
Analysis/__pycache__
Analysis/helper.cxx

# ingore C/C++ extensions files
.clang-format
.clang-tidy
.editorconfig
.gitattributes
